body {
  background:#F7F9FC;
}

.img-circle {
  border-radius: 50%;
}

.container {
  width: 600px;
  margin: 0 auto;
}
.card-white {
  background-color:white;
  padding: 40px;
  border-radius: 4px;
  margin: 20px 0px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  text-align: center;
  size: 700 auto;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #003865;
}

.list-inline > li {
  display: inline-block;
  padding: 0 20px;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}
.btn-red {
  background-color: #6bd0e1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

p {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
